<%- include("partials/header") -%>
<h1>Hello</h1>

<p>The city is <%= temp %> degree celsius!</p>
<h1>The city's weather is <%= weatherDescription %></h1>
<img src=<%= imageURL %>>
<iframe width="560" height="315" src="<%= ytURL %>" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<div class="HF3pic">
  <img src=<%= randomPicUrl %> width="1000" alt="HF3 countdown pic">
</div>


<%- include("partials/footer") -%>
